{% extends 'core/base.html' %}
{% block content %}
  <div class="container">
    <p>Verifique seu email para obter o link correto de ativação. Ou caso tenha acessado esta URL anteriormente
    tente fazer o login.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Voltar</a>
  </div>
{% endblock %}