{% extends 'core/base.html' %}
{% block content %}
  <div class="container">
    <p>Ative sua conta através do link enviado para seu email. Verifique também a caixa de SPAM.</p>
    <a href="/" class="btn btn-primary">Voltar</a>
  </div>
{% endblock %}