{% extends 'core/base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% block content %}
<body class="text-center">
<br><br><br>
<div class="container">
  {% if form.errors %}
  <div class="alert alert-danger" role="alert">
    <p>Por favor corrija o(s) erro(s) abaixo: {{ form.errors }}</p>
  </div>
  {% endif %}
  <div class="form-group">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo.svg' %}" alt="" width="72" height="57">
      <div class="row justify-content-center">
        <div class="col-6 col-md-4 align-self-center">
          <h1 class="h3 mb-3 fw-normal">Login</h1>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Usuário" name="username">
            <label for="floatingInput">Usuário</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Senha</label>
          </div>
          <br>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" value="login">Entrar</button>
      <a href="{% url 'password_reset' %}" class="nav-link">Esqueceu sua senha?</a>
    </form>
  </div>
</div>
</body>
{% endblock %}
