{% extends 'core/base.html' %}

{% block content %}
  <div class="container">
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
      {{ form.email.errors }}
    {% endif %}
      <div>
        <div class="form-floating">
          <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="email">
          <label for="floatingInput">Email</label>
        </div>
      </div><br>
      <button type="submit" class="btn btn-success"> Solicitar link </button>
    </form>
  </div>
{% endblock %}