{% extends 'core/base.html' %}

{% block content %}
    <div class="container">
    {% if validlink %}
        <p>Informe e confirme sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Nova Senha" name="new_password1">
              <label for="floatingPassword">Nova Senha</label>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword2" placeholder="Confirmar Nova Senha" name="new_password2">
              <label for="floatingPassword2">Confirmar Nova Senha</label>
            </div><br>
            <button class="btn btn-success" type="submit" value="enviar">Confirmar</button>
        </form>
    {% else %}
        <h1>Erro ao alterar senha</h1>
        <p class="alert alert-danger">O link de alteração de senha utilizado é inválido. Solicite um novo link.</p>
    {% endif %}
    </div>
{% endblock %}