{% extends 'core/base.html' %}

{% block content %}
  <div class="container">
    <p class="alert alert-success">A senha foi alterada com sucesso.</p>
    <a class="btn btn-primary" href="{% url 'login'%}"> Login </a>
  </div>
{% endblock %}