{% extends 'core/base.html' %}

{% block content %}
  <div class="container">
    <p class="alert alert-success">Confira no seu endereço de email as instruções para alteração de senha.</p>
    <a class="btn btn-primary" href="/"> Voltar </a>
  </div>
{% endblock %}