{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
<div class="container">
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">
			<p>Por favor corrija o(s) erro(s) abaixo: {{ form.errors }}</p>
		</div>
	{% endif %}
	<div class="form-group">
		<form method="POST">
			{% csrf_token %}
			<div class="row justify-content-center">
				<div class="col-6 col-md-4 align-self-center">
					<h1 class="h3 mb-3 fw-normal"><i class="fa fa-user"></i> Registro de Usuário</h1>
					<div class="form-floating">
						<input type="text" class="form-control" id="username" placeholder="Nome de Usuário" name="username">
						<label for="username">Usuário</label>
					</div>
					<div class="form-floating">
						<input type="text" class="form-control" id="first_name" placeholder="Nome" name="first_name">
						<label for="first_name">Nome</label>
					</div>
					<div class="form-floating">
						<input type="text" class="form-control" id="last_name" placeholder="Sobrenome" name="last_name">
						<label for="last_name">Sobrenome</label>
					</div>
					<div class="form-floating">
						<input type="email" class="form-control" id="email" placeholder="Email" name="email">
						<label for="email">Email</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="Senha" placeholder="Senha" name="password1">
						<label for="Senha">Senha</label>
					</div>
					<div class="form-floating">
						<input type="password" class="form-control" id="password2" placeholder="Confirmar Senha" name="password2">
						<label for="password2">Confirmar Senha</label>
					</div>
					<br>
				</div>
			</div>
			<div class="col-md-12 text-center">
				<button class="btn btn-success" type="submit" value="register">Registrar</button>
			</div>
		</form>
	</div>
	<p class="text-center">Possui uma conta? <a href="{% url 'login' %}">Log In</a> </p>
</div>
{% endblock %}