{% extends 'core/base.html' %}
{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded" style="background-color:#0875e2">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">O Memory Trigger</h1>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">O que é?</h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto">
              - O Memory Trigger é um Software OpenSource criado para possibilitar o uso gratuito de Flashcards Digitais.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Como surgiu?</h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto">
              - A ideia da criação de um Software OpenSource para manuseio de Flashcards digitais surgiu
              a partir dos contatos que o autor teve com cartões manuais, aplicativos e softwares de cartões
              digitais e necessidade de maior controle para customização e possibilidade de contribuições de
              interessados.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Como ter acesso à documentação e ao artigo?</h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto">
              - Todo o código fonte e o histórico de alterações pode ser acessado
              <a href="https://bit.ly/memory-trigger-repo">aqui</a>.
            </p>
            <p class="card-text mb-auto">
              - Já a documentação e artigo que originou este produto pode ser acessada
              <a href="https://bit.ly/memory-trigger-tcc">aqui</a>.
            </p>
          </div>
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Como contribuir com o projeto?</h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto">
              - Para contribuir com o desenvolvimento do código, você pode criar um fork ou branch do projeto. Após
              feitas as alterações pertinentes, criar um merge request descrevendo-as.
            </p>
            <p class="card-text mb-auto">
              - Para contribuir com a produção do conhecimento científico, você pode consultar o tópico trabalhos futuros
              e referenciar o artigo que deu origem ao sistema.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}