{% extends 'core/base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div class="container">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            {{ message }}
        </div>
        <a href="{% url 'core:meus_baralhos'%}" class="btn btn-primary">Voltar</a>
    </div>
    {% endfor %}
{% else %}
    <div class="container">
        <div style="text-align:center">
            <h4>Acompanhamento do baralho: {{ baralho }}.</h4>
            <div class="table-responsive">
                {% for cartao in page_obj %}
                    <table class="table table-striped table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="7">Cartão {{ cartao.pk }} - {{ cartao.titulo }}</th>
                        </tr>
                        <tr>
                            <th>#</th>
                            <th>Usuário</th>
                            <th>Acertos</th>
                            <th>Erros</th>
                            <th>Qtd. Revisões</th>
                            <th>Última Revisão</th>
                            <th>Próxima Revisão</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usuario_cartao in cartao.usuariocartao_set.all %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ usuario_cartao.usuario|title }}</td>
                            <td>{{ usuario_cartao.acertos}}</td>
                            <td>{{ usuario_cartao.erros }}</td>
                            <td>{{ usuario_cartao.quantidade_revisoes }}</td>
                            <td>{{ usuario_cartao.ultima_revisao|default_if_none:"Não Houve interação com o cartão" }}</td>
                            <td>{{ usuario_cartao.proxima_revisao }}</td>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if not forloop.last %}
                    <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if page_obj.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.paginator.num_pages != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Primeira</a></li>
                    {% endif %}
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% elif page_obj.number > i|add:"-5" and page_obj.number < i|add:"+5"%}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                    {% endif %}
                    {% if page_obj.paginator.num_pages != page_obj.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Última</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'core:meus_baralhos' %}">Voltar</a>
    </div>
    {% endif %}
{% endblock %}