{% extends 'core/base.html' %}
{% block content %}
    <div class="container">
        <form action="" method="post">{% csrf_token %}
            <p>Tem certeza que deseja deletar o {{ object }}?</p>
            <button class="btn btn-danger" type="submit">Excluir</button>
        </form>
    </div>
{% endblock %}