{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/d14fb08352.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/misc.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <main>
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          {% if user.is_authenticated %}
            <a href="/core" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          {% else %}
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          {% endif %}
            <img src="{% static 'img/logo.svg' %}" width="40" height="32" alt="logo">
            <svg class="bi me-2" width="1" height="1"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Memory Trigger</span>
          </a>
          <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="/core" class="nav-link" aria-current="page"><i class="fa-solid fa-home"></i> Início</a></li>
            <li class="nav-item"><a href="{% url 'core:meus_baralhos' %}" class="nav-link"><i class="fa-solid fa-inbox"></i> Meus Baralhos</a></li>
            <li class="nav-item"><a href="{% url 'core:public_baralhos' %}" class="nav-link"><i class="fa-brands fa-creative-commons-share"></i> Baralhos Públicos</a></li>
            <li class="nav-item"><a href="{% url 'core:rankings' %}" class="nav-link"><i class="fa-solid fa-ranking-star"></i> Ranking</a></li>
            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sair</a></li>
            {% else %}
              <li class="nav-item"><a href="{% url 'login'%}" class="nav-link"><i class="fa-solid fa-user"></i> Login</a></li>
              <li class="nav-item"><a href="{% url 'register'%}" class="nav-link"><i class="fa-solid fa-user-plus"></i> Registrar</a></li>
              <li class="nav-item"><a href="/about/" class="nav-link"><i class="fa-solid fa-circle-info"></i> Sobre</a></li>
            {% endif %}
          </ul>
        </header>
      </div>
    </main>
  {% block content %}
  {% endblock %}
  </body>
  <footer class="footer mt-auto py-3 bg-light sticky-footer">
    <div class="container">
      <span class="text-muted">O Memory Trigger é um Software de código aberto de Repetição Espaçada com Flashcards.
        Contribua com a melhoria do projeto através do
        <a href="https://bit.ly/memory-trigger-repo">repositório oficial</a>.
        Saiba mais sobre a repetição espaçada e o artigo que gerou este sistema no
        <a href="https://bit.ly/memory-trigger-tcc">
          Trabalho de Conclusão de Curso</a>.</span>
    </div>
  </footer>
</html>