{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
</style>
<div class="container">
    <p>
        {% if object_list %}
        <a class="btn btn-success text-white" href="{% url 'core:treinar_baralho' baralho_pk %}" role="button" style="float: left;"> Treinar Memorização <i class="fa-regular fa-lightbulb"></i> </a>
        {% endif %}
        {% if pode_manipular %}
        <a class="btn btn-success" href="{% url 'core:criar_cartao' baralho_pk %}" role="button" style="float: right;">Adicionar Cartão <i class="fa-solid fa-circle-plus"></i></a>
        {% endif %}
    </p>
    <br><br>
</div>
<div class="container">
    <h1>Lista de Cartões do Baralho: {{ baralho.titulo }}</h1>
    {% if object_list %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for c in page_obj %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ c.imagem_capa }}" class="card-img-top">
                        <div class="card-body">
                            <div class="dropdown" style="float: right;">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="{% url 'core:historico_revisoes' c.pk request.user.pk %}">Histórico de Revisões</a></li>
                                    {% if pode_manipular %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="{% url 'core:editar_cartao' c.pk %}">Editar Cartão</a></li>
                                        {% if request.user == c.baralho.criador %}
                                            <li><a class="dropdown-item" href="{% url 'core:excluir_cartao' c.pk %}">Excluir Cartão</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                            <h3>{{ c.titulo }}</h3>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Criado em {{ c.criado_em }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            {% include 'core/pagination.html'%}
        {% endif %}
    {% else %}
        <p class="alert alert-warning">
            Você não possui nenhum cartão.
        </p>
    {% endif %}
</div>
{% endblock %}