{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media|safe }}
            <button class="btn btn-success"> Salvar </button>
        </form>
    </div>
</div>
{% endblock %}