{% extends 'core/base.html' %}

{% block content %}
    <div class="container table-responsive">
    {% if cartao.historico_interacoes %}
            <h4> Histórico de Revisões do Cartão {{ cartao.cartao.pk }}</h4>
            <hr>
            <ul>
                <li> Última Revisão deste cartão foi em: <strong>{{ cartao.ultima_revisao }}</strong></li>
                <li> A próxima revisão, preferencialmente, deve ser realizada em: <strong>{{ cartao.proxima_revisao }}.</strong></li>
            </ul>
            <table class="table table-striped table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ação</th>
                    <th>Resultado</th>
                    <th>Acertos até a data</th>
                    <th>Erros até a data</th>
                    <th>Revisões até a data</th>
                    <th>Nível</th>
                    <th>Data</th>
                </tr>
                </thead>
                <tbody>
                {% for documento in cartao.historico_interacoes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ documento.acao }}</td>
                        <td>{{ documento.resultado }}</td>
                        <td>{{ documento.acertos_data }}</td>
                        <td>{{ documento.erros_data }}</td>
                        <td>{{ documento.revisoes_data }}</td>
                        <td>{{ documento.nivel }}</td>
                        <td>{{ documento.data }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
        <p class="alert alert-warning">Nenhuma revisão realizada para este cartão.</p>
    {% endif %}
    <a href="{% url 'core:index'%}" class="btn btn-primary">Voltar</a>
    </div>
{% endblock %}