{% extends 'core/base.html' %}
{% block content %}

<main class="container">
  {% if cartoes_revisao %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      Você possui {{cartoes_revisao}} cart{{cartoes_revisao|pluralize:"ão,ões"}}
      que deve{{cartoes_revisao|pluralize:",m"}} ser revisado{{cartoes_revisao|pluralize:",s"}}.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  <div class="p-4 p-md-5 mb-4 text-white rounded" style="background-color:#0875e2">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Bem vindo(a) ao Memory Trigger, {{request.user.first_name|title}}</h1>
      <p class="lead my-3">Treine sua habilidade de memorização! <i class="fa-solid fa-book-open"></i></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Conheça o Memory Trigger!</h3>
          <div class="accordion accordion-flush" id="accordionInformacoes">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingBaralhoCartao">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBaralhoCartao" aria-expanded="false" aria-controls="flush-collapseBaralhoCartao">
                  Baralhos e Cartões
                </button>
              </h2>
              <div id="flush-collapseBaralhoCartao" class="accordion-collapse collapse" aria-labelledby="flush-headingBaralhoCartao" data-bs-parent="#accordionInformacoes">
                <div class="accordion-body">
                  Para iniciar o estudo com Flashcards são necessárias algumas etapas:
                  <ul>
                    <li>
                      <b>Criar um baralho*:</b> o baralho consiste num agrupamento de cartões sobre determinada categoria
                      de conteúdo.
                    </li>
                    <li>
                      <b>Criar cartões:</b> os cartões são divididos em frente e verso, assim é possível elaborar perguntas
                      e respostas sobre o assunto estudado. Também é possível ilustrar o cartão com imagens.
                    </li>
                  </ul>
                  Após isso, o estudo segue com a realização de revisões periódicas, definidas através do cálculo da
                  quantidade de revisões, dificuldade do cartão e atribuição de se o usuário lembrava ou não a
                  resposta do cartão.
                  <p></p>
                  <p>
                    <strong>* - É possível utilizar um baralho público, ou seja, um baralho criado por outro usuário e
                    disponibilizado para que outros o utilizem e até colaborem com melhorias.
                    Veja a seção Copiar Baralho vs Inscrever-se para atualizações.</strong>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingBaralhoTipo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseBaralhoTipo" aria-expanded="false" aria-controls="flush-collapseBaralhoTipo">
                  Copiar Baralho vs Inscrever-se para atualizações
                </button>
              </h2>
              <div id="flush-collapseBaralhoTipo" class="accordion-collapse collapse" aria-labelledby="flush-headingBaralhoTipo" data-bs-parent="#accordionInformacoes">
                <div class="accordion-body">
                  No Memory Trigger há duas formas de utilizar baralhos públicos, ambas permitem a revisão de cartões,
                  no entanto, cada uma possui suas peculiaridades:
                  <h5>Inscrever-se para receber atualizações</h5>
                  <ul>
                    <li>
                      Ideal para manter-se atualizado com as alterações feitas pelo criador.
                      Trata-se de uma assinatura ao baralho original, ou seja,
                      todas as alterações feitas pelo autor são refletidas ao realizar uma inscrição.
                      <p><b>Cuidado:</b> até a exclusão do baralho original é refletida aos seguidores.</p>
                    </li>
                    <li>
                      Mais colaborativo:
                        <ul>
                          <li>Um usuário que referenciou um baralho passa a possuir um vínculo com o baralho.</li>
                          <li> O usuário criador pode promovê-lo a colaborador.</li>
                          <li>O colaborador pode contribuir com criação ou edição de cartões.</li>
                        </ul>
                    </li>
                    <li>
                      Essa forma é ideal para professores que queiram utilizar flashcards com seus alunos.
                      <ul>
                        <li>
                          Caso o baralho público seja também do tipo sala de aula, o criador pode acompanhar o
                          progresso dos usuários seguidores de seu baralho.
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <h5>Copiar Baralho</h5>
                  <ul>
                    <li>Total liberdade para criar, editar e excluir cartões.</li>
                    <li>Caso o criador original apague o baralho, a cópia continua disponível.</li>
                    <li>
                      No entanto, caso o criador original publique uma atualização, esta também não
                      será refletida no baralho copiado.
                    </li>
                    <li>
                      Somente disponível caso o usuário criador do baralho fique <b>ausente</b> do sistema <b>
                      por 30 dias.</b> Dessa forma o trabalho pode ser continuado por outra pessoa.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingRevisao">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseRevisao" aria-expanded="false" aria-controls="flush-collapseRevisao">
                  Revisão
                </button>
              </h2>
              <div id="flush-collapseRevisao" class="accordion-collapse collapse" aria-labelledby="flush-headingRevisao" data-bs-parent="#accordionInformacoes">
                <div class="accordion-body">
                  A revisão é o momento de fixar o conteúdo. Para cada cartão haverá uma data de revisão, a depender
                  dos seguintes fatores:
                  <ul>
                    <li><h5>Quantidade de revisões do Cartão</h5></li>
                    <ul>
                      <li>O total bruto de revisões do cartão é um dos indicadores para o cálculo da próxima revisão.
                        Quanto maior o número, mais distante será a próxima revisão.
                      </li>
                    </ul>
                    <li><h5>Nível do Cartão</h5></li>
                    <ul>
                      <li>
                        A cada resposta do tipo 'Lembro' um nível é acrescido ao cartão, e acada resposta 'Não Lembro'
                        um nível é deduzido.
                      </li>
                      <li>
                        Quanto maior o nível, mais distante será a data da próxima revisão, pois entende-se que o cartão
                        em questão é bem conhecido pelo usuário.
                      </li>
                    </ul>
                    <li><h5>Dificuldade do Cartão</h5></li>
                    <ul>
                      <li>
                        Tanto respostas 'Lembro' como 'Não Lembro' possuem opções para também indicar a dificuldade.
                        Assim, se o usuário lembrar a resposta, mas a considerar difícil o tempo para a próxima revisão
                        será menor.
                      </li>
                    </ul>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><i class="fa-solid fa-user"></i> Acompanhe seus dados!</h3>
          <div class="mb-1 text-muted">
            <div class="accordion accordion-flush" id="accordionCartoes">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading-dados">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-dados" aria-expanded="false" aria-controls="flush-collapse-dados">
                  <i class="fa-solid fa-database"></i> &nbsp; Baralhos, Cartões e Revisões.
                </button>
                </h2>
                <div id="flush-collapse-dados" class="accordion-collapse collapse show" aria-labelledby="flush-heading-dados" data-bs-parent="#accordionCartoes">
              {% if not baralho_count %}
                  <br>
                  <p class="alert alert-danger"> Você não possui nenhum baralho criado!</p>
                  <p>
                    <a class="btn btn-success" href="{% url 'core:criar_baralho'%}">Criar Baralhos</a>
                    <a class="btn btn-primary" href="{% url 'core:public_baralhos'%}">Ver Baralhos Públicos</a>
                  </p>
              {% else %}
                <br>
                <div class="container table-responsive">
                    <table class="table table-striped table table-bordered">
                      <thead>
                        <tr>
                          <th>Baralho</th>
                          <th>Cartões</th>
                          <th>Revisões</th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{ baralho_count }} Baralho{{cartoes.count|pluralize:",s"}}</td>
                        <td>{{ cartoes.count }} Cart{{cartoes.count|pluralize:"ão,ões"}}</td>
                        <td>{{ revisoes.quantidade_revisoes__sum }} revisões.</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-heading-cartoes-disponiveis">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-cartoes-disponiveis" aria-expanded="false" aria-controls="flush-collapse-cartoes-disponiveis">
                        <i class="fa-solid fa-calendar-check"></i>&nbsp;Cartões Disponíveis Para Revisão Agora
                      </button>
                      </h2>
                      <div id="flush-collapse-cartoes-disponiveis" class="accordion-collapse collapse {{ cartoes_disponiveis_revisao|yesno:',show'}}" aria-labelledby="flush-heading-cartoes-semana" data-bs-parent="#accordionCartoes">
                        {% if cartoes_disponiveis_revisao %}
                            <br>
                            <div class="container table-responsive">
                            <table class="table table-striped table table-bordered">
                              <thead>
                                <tr>
                                  <th>Baralho</th>
                                  <th>Cartão</th>
                                  <th>Próxima Revisão</th>
                                  <th>Histórico de Revisões</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for cartao in cartoes_disponiveis_revisao %}
                                  <tr>
                                    <td><a href="{% url 'core:cartoes' cartao.cartao.baralho.pk %}">{{ cartao.cartao.baralho }}</a></td>
                                    <td>ID: {{ cartao.cartao }}</td>
                                    <td>{{ cartao.proxima_revisao }}</td>
                                    <td><a href="{% url 'core:historico_revisoes' cartao.cartao.pk request.user.pk %}">Ver histórico</a></td>
                                  </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            </div>
                          {% else %}
                            <br>
                            <p class="alert alert-success">Você não possui cartões para revisar.</p>
                          {% endif %}
                        </div>
                    </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading-cartoes-semana">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-cartoes-semana" aria-expanded="false" aria-controls="flush-collapse-cartoes-semana">
                      <i class="fa-regular fa-calendar-days"></i>&nbsp; Cartões Para Revisão nos Próximos 7 dias
                    </button>
                    </h2>
                  <div id="flush-collapse-cartoes-semana" class="accordion-collapse collapse {{ cartoes_semana|yesno:',show'}}" aria-labelledby="flush-heading-cartoes-semana" data-bs-parent="#accordionCartoes">
                    {% if cartoes_semana %}
                      <br>
                      <div class="container table-responsive">
                      <table class="table table-striped table table-bordered">
                        <thead>
                          <tr>
                            <th>Baralho</th>
                            <th>Cartão</th>
                            <th>Próxima Revisão</th>
                            <th>Histórico de Revisões</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for cartao in cartoes_semana %}
                            <tr>
                              <td><a href="{% url 'core:cartoes' cartao.cartao.baralho.pk %}">{{ cartao.cartao.baralho }}</a></td>
                              <td>ID: {{ cartao.cartao }}</td>
                              <td>{{ cartao.proxima_revisao }}</td>
                              <td><a href="{% url 'core:historico_revisoes' cartao.cartao.pk request.user.pk %}">Ver histórico</a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      </div>
                    {% else %}
                      <br>
                      <p class="alert alert-success">Você não possui cartões para revisar nos próximos 7 dias.</p>
                    {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock %}