{% extends 'core/base.html' %}
{% load custom_filters %}
{% block content %}

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded" style="background-color:#0875e2">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ nome_projeto }}</h1>
      <p class="lead my-3">Treine sua habilidade de memorização <i class="fa-solid fa-book-open"></i></p>
      <a href="{% url 'register'%}" class="btn btn-success">Registre-se</a>
      <a href="{% url 'login'%}" class="btn btn-success">Login</a>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-8">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Os Flashcards </h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto paragrafo-recuo">
              São um cartões-resumo que têm como principal objetivo a memorização do conteúdo nele escrito.
              É constituído de um conjunto frente-verso, no qual o item a ser memorizado é escrito, desenhado ou
              representado em formato de imagem, com a divisão de
              do par questão-resposta.
            </p>
          </div>
          <!--<p><a href="#">Leia mais</a></p>-->
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">A Memória</h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto paragrafo-recuo">
              É composta por sistemas inteligentes que trabalham de forma independente. É uma função
              cognitiva fundamental que está diretamente relacionada com a percepção e aprendizagem. A memória é
              comumente divida em Memória de Longo Prazo e Memória de Trabalho.
            </p>
          </div>
          <!--<p><a href="#">Leia mais</a></p>-->
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">A Repetição Espaçada</h3>
          <div class="mb-1 text-muted">
            <p class="card-text mb-auto paragrafo-recuo">
              Consiste na ideia de que para evitar o esquecimento de determinado conteúdo é necessário mantê-lo
              acessível na memória através de revisões periódicas. O tempo de cada revisão acontece de acordo com o
              momento estipulado pelo algoritmo de cálculo da curva do esquecimento utilizado.
            </p>
          </div>
          <!--<p><a href="#">Leia mais</a></p>-->
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Últimas Atualizações</h3>
          <div class="mb-1 text-muted"></div>
            {% for commit in response %}
                <p class="card-text mb-auto">
                  <a href="{{commit.web_url}}" target="_blank" rel="noopener">{{ commit.short_id }}</a>
                  em: {{ commit.committed_date|gitlab_date }}.
                </p>
                <p class="card-text mb-auto">Autor: {{ commit.author_name }}.</p>
                <h6 class="card-text mb-auto">{{ commit.message }}</h6>
                <hr>
              {% if forloop.last %}
                <p class="card-text mb-auto" > Acesse a
                  <a href="{{ url_projeto }}" target="_blank" rel="noopener">lista completa de commits</a>.
                </p>
              {% endif %}
            {% endfor %}
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">Dados do Sistema</h3>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">{{ usuarios }} Usuários cadastrados.</p>
          <p class="card-text mb-auto">{{ baralhos }} Baralhos criados.</p>
          <p class="card-text mb-auto">{{ cartoes }} Cartões criados.</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}