{% extends 'core/base.html' %}

{% block content %}

<div class="container">
    <h1>Meus Baralhos  <a class="btn btn-success" href="{% url 'core:criar_baralho' %}" role="button" style="float: right;">Novo Baralho <i class="fa-solid fa-circle-plus"></i></a></h1>

{% if object_list %}
    {% for b in page_obj %}
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
            <h3> {{ b.titulo }} - {{ b.publico|yesno:"Público,Privado" }}</h3>
            <p>  {{ b.descricao }}</p>
            <a class="btn btn-primary" href="{% url 'core:cartoes' b.pk %}" role="button">Cartões e Memorização</a>
            {% if request.user == b.criador %}
                <a class="btn btn-outline-info" href="{% url 'core:alterar_visibilidade' b.pk %}" role="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Torna o Baralho {{ b.baralho_publico|yesno:'Privado,Público' }}">Alterar Visibilidade</a>
                {% if b.seguidores.count > 1 %}
                    <a class="btn btn-outline-primary" href="{% url 'core:baralho_adicionar_colaborador' b.pk %}">Adicionar Colaborador</a>
                    <a class="btn btn-outline-success" href="{% url 'core:acompanhamento_vinculados' b.pk %}">Acompanhar Usuários</a>
                {% endif %}
                <a class="btn btn-outline-danger" href="{% url 'core:excluir_baralho' b.pk %}">Excluir Baralho</a>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'core/pagination.html'%}
    {% endif %}
{% else %}
    <p class="alert alert-warning">
        Você não possui nenhum baralho.
        Clique para
        <a href="{% url 'core:public_baralhos' %}">Inscrever-se em</a> ou
        <a href="{% url 'core:criar_baralho'%}">Criar</a> um baralho.
    </p>
{% endif %}
</div>
{% endblock %}