{% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.paginator.num_pages != 1 %}
                <li class="page-item"><a class="page-link" href="?page=1">Primeira</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Primeira</a></li>
            {% endif %}
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                {% elif page_obj.number > i|add:"-5" and page_obj.number < i|add:"+5"%}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
            {% if page_obj.paginator.num_pages != page_obj.number %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Última</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}