{% extends 'core/base.html' %}

{% load widget_tweaks %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <form method="get">
          <div class="row">
              <div class="form-group col-sm-4 col-md-3">
                  {{ filter.form.categoria.label_tag }}
                  {% render_field filter.form.categoria class="form-control" %}
              </div>
              <div class="form-group col-sm-4 col-md-3" >
                  <br>
                  <button type="submit" class="btn btn-success"> Filtrar <i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
          </div>
    </form>
    <br>
    <h2>Baralhos Públicos</h2><hr>
    {% if object_list %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for bp in object_list %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="dropdown" style="float: right;">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Ações <i class="fa-solid fa-circle-plus"></i></button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item" href="{% url 'core:public_cartoes' bp.pk %}" role="button">Ver Cartões</a></li>
                                    {% if bp.criador != request.user %}
                                        <li><a class="dropdown-item" href="{% url 'core:referenciar_baralho' bp.pk %}" role="button">Inscrever-se</a></li>
                                    {% endif %}
                                    {% if hoje > bp.criador.last_login|somar_dias:30 %}
                                        <li><a class="dropdown-item" href="{% url 'core:duplicar_baralho' bp.pk %}" role="button">Fazer cópia</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                            <h4>{{ bp.titulo }}</h4>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Categoria: {{ bp.categoria|title }}.</small><br>
                            <small class="text-muted">Criado por {{ bp.criador|title }}.</small><br>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-warning">Não há baralhos públicos disponíveis.</p>
    {% endif %}
</div>
{% endblock %}