{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    {% if object_list %}
        {% if page_obj.paginator.num_pages > 1 %}
            <a class="btn btn-primary" href="{% url 'core:public_baralhos' %}" role="button">Voltar</a>
        {% endif %}
        {% for c in page_obj %}
            <div class="p-5 mb-4 bg-light rounded-3">
                <h1> Cartão {{ c.titulo }}</h1>
                <h2> Frente do Cartão </h2>
                <p> {{ c.frente|safe }}</p>
                <h2> Verso </h2>
                <p> {{ c.verso|safe }}</p>
            </div>
        {% endfor %}
        {% if is_paginated %}
            {% include 'core/pagination.html'%}
        {% endif %}
    {% else %}
        <p class="alert alert-warning">Não há baralhos públicos disponíveis.</p>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'core:public_baralhos' %}" role="button">Voltar</a>
</div>
{% endblock %}