{% extends 'core/base.html' %}

{% block content %}
    <div class="container table-responsive">
        <h1>Ranking <i class="fa-solid fa-ranking-star"></i></h1>
        <p class="alert alert-info">Exibe os usuários com maior número de acertos em seus treinos de revisão.</p>
        <table class="table table-striped table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Usuário</th>
                <th>Acertos</th>
                <th>Erros</th>
                <th>Número de Revisões</th>
                <th>Número de Cartões</th>
                <!--<th>Maior Sequência de Acertos</th>-->
            </tr>
            </thead>
            <tbody>
            {% for user in ranking|dictsortreversed:"acertos" %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.usuario|title }}</td>
                    <td>{{ user.acertos }}</td>
                    <td>{{ user.erros }}</td>
                    <td>{{ user.revisoes }}</td>
                    <td>{{ user.cartoes }}</td>
                    <!--<td>{{ 0 }}</td>-->
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}