{% extends 'core/base.html' %}
{% block content %}
{% if cartoes %}
    {% for c in cartoes|dictsort:"pk" %}
        <div class="container">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="card text-center">
                    <p>{{ c.cartao.frente|safe }}</p>
                    <div class="d-none" id="{{forloop.counter}}">
                        {{c.cartao.verso|safe}}<br>
                        <a class="btn btn-success" href="{% url 'core:resposta' c.cartao.pk 1 %}" role="button"> Lembro! </a>
                        <a class="btn btn-danger" href="{% url 'core:resposta' c.cartao.pk %}" role="button"> Não Lembro. </a>
                    </div>
                    <div>
                        <br>
                        <a class="btn btn-primary" onclick="verso({{forloop.counter}})" role="button" id="verso-{{forloop.counter}}"> Exibir Verso </a>
                    </div>&nbsp;
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="container">
        <p class="alert alert-success">Você revisou todos os cartões disponíveis deste baralho para a data de hoje.</p>
        <a class="btn btn-primary" href="{% url 'core:index' %}">Voltar</a>
        <a class="btn btn-primary" href="{% url 'core:index' %}">Início</a>
    </div>
{% endif %}
<script>
    function verso(id){
        document.getElementById(id).classList.toggle('d-none');
        const btn = document.getElementById("verso-"+id);
        btn.innerText = btn.innerText === "Exibir Verso" ? 'Ocultar Verso' : 'Exibir Verso';
    }
</script>
{% endblock %}